In [1]:
import pandas as pd
import sys
path = "chr8_Clusters.tsv"

In [2]:
df = pd.read_csv(path, sep="\t", names=["chr", "RI", "startBin", "endBin", "insulation"])

In [4]:
df = df[df["RI"] >=.700]

In [5]:
df

          chr     RI  startBin  endBin  insulation
4286441  chr8  0.701         6       7         NaN
4286442  chr8  0.701         8       9         NaN
4286443  chr8  0.701        10      11         NaN
4286444  chr8  0.701        12      13         NaN
4286445  chr8  0.701        14      15         NaN
4286446  chr8  0.701        16      17         NaN
4286447  chr8  0.701        18      19         NaN
4286448  chr8  0.701        20      21    1.000000
4286449  chr8  0.701        22     339    0.706543
4286450  chr8  0.701       340     359    0.708979
4286451  chr8  0.701       360     398    0.813581
4286452  chr8  0.701       399     437    0.727809
4286453  chr8  0.701       438     473    0.751332
4286454  chr8  0.701       474     535    0.723460
4286455  chr8  0.701       536     565    0.715957
4286456  chr8  0.701       566     618    0.769736
4286457  chr8  0.701       619     696    0.746769
4286458  chr8  0.701       697     728    0.742192
4286459  chr8  0.701       729     757    0.705003
4286460  chr8  0.701       758     806    0.743749
4286461  chr8  0.701       807     924    0.760457
4286462  chr8  0.701       925     979    0.759960
4286463  chr8  0.701       980    1203    0.706918
4286464  chr8  0.701      1204    1247    0.841569
4286465  chr8  0.701      1248    1334    0.880811
4286466  chr8  0.701      1335    1419    0.763480
4286467  chr8  0.701      1420    1421         NaN
4286468  chr8  0.701      1422    1423         NaN
4286469  chr8  0.701      1424    1425         NaN
4286470  chr8  0.701      1426    1427         NaN
...       ...    ...       ...     ...         ...
4450016  chr8  0.999     29040   29041    1.000000
4450017  chr8  0.999     29042   29057    1.000000
4450018  chr8  0.999     29058   29059         NaN
4450019  chr8  0.999     29060   29061         NaN
4450020  chr8  0.999     29062   29063         NaN
4450021  chr8  0.999     29064   29065         NaN
4450022  chr8  0.999     29066   29067         NaN
4450023  chr8  0.999     29068   29069         NaN
4450024  chr8  0.999     29070   29071         NaN
4450025  chr8  0.999     29072   29073         NaN
4450026  chr8  0.999     29074   29075         NaN
4450027  chr8  0.999     29076   29077         NaN
4450028  chr8  0.999     29078   29079         NaN
4450029  chr8  0.999     29080   29081         NaN
4450030  chr8  0.999     29082   29083         NaN
4450031  chr8  0.999     29084   29085         NaN
4450032  chr8  0.999     29086   29087         NaN
4450033  chr8  0.999     29088   29089         NaN
4450034  chr8  0.999     29090   29091         NaN
4450035  chr8  0.999     29092   29093         NaN
4450036  chr8  0.999     29094   29095    1.000000
4450037  chr8  0.999     29096   29259    0.000000
4450038  chr8  1.000         6       7         NaN
4450039  chr8  1.000         8       9         NaN
4450040  chr8  1.000        10      11         NaN
4450041  chr8  1.000        12      13         NaN
4450042  chr8  1.000        14      15         NaN
4450043  chr8  1.000        16      17         NaN
4450044  chr8  1.000        18      19         NaN
4450045  chr8  1.000        20   29259    0.000000

[163605 rows x 5 columns]

In [6]:
df.to_csv(path + ".bed", sep="\t", header=False, index=False)